body {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #151b29;
  margin: 0px;
}
h1 {
  z-index: -1;
  position: absolute;
  opacity: 10%;
  color: white;
  font-size: 120px;
  transform: rotateZ(-20deg);
}
a {
  display: inline-block;
  color: #ffa260;
  width: 15rem;
  text-align: center;
  text-decoration: none;
  border: 2px solid;
  padding: 1em 1em;
  font-size: 1em;
  margin-top: 1em;
  transition: border-radius 0.5s, transform 0.5s;
}

a:hover {
  border-color: #f1ff5c;
  color: white;
  box-shadow: 0px 0.5em 0.5em -0.4em #f1ff5c;
  transform: translateY(-10px) rotateX(360deg);
  cursor: pointer;
  border-radius: 1.5em;
}
