body {
  background-color: #ced4da;
  font-family: "Oswald", sans-serif;
  margin: 0px;
}

img {
  width: 30%;
  margin: calc(10% / 6);
  box-shadow: 1px 1px 5px #023047;
  border-radius: 1em;
  transition: transform 0.5s, box-shadow 0.5s;
}
@media (max-width: 700px) {
  img {
    width: 70%;
    margin: 5px 15%;
  }
}

img:hover {
  transform: rotatez(5deg) scale(1.15);
  box-shadow: 10px 5px 20px #023047;
}

nav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  z-index: 2;
  top: 0px;
  position: sticky;
  border-bottom: 2px solid #dddddd;
  padding: 5px;
  background-color: #151b29;
}

#home-button {
  display: inline-block;
  background-image: url(https://cdn3.iconfinder.com/data/icons/miscellaneous-13/512/home-2-512.png);
  background-size: cover;
  /* display: inline-block; */
  width: 35px;
  height: 35px;
  transition: transform 0.2s;
  /* margin-right: 1em; */
}
#home-button:hover {
  transform: scale(1.2);
}
button {
  font-family: "Oswald", sans-serif;
  font-size: 1.2em;
  width: 30%;
  min-width: 130px;
  max-width: 300px;
  color: #023047;
  padding: 0 0.2rem;
  /* margin: 0px 10%; */
  border: 2px solid #023047;
  border-radius: 0.4em;
  transition: transform 0.2s;
}

button:hover {
  transform: translatey(-2px) perspective(1000px) translateZ(100px);
  box-shadow: 1px 1px 8px #023047;
  cursor: pointer;
}

footer p {
  border-top: 2px solid #dddddd;
  padding: 3em;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #023047;
  border-radius: 10px;
  transition: all 2s;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffa260;
  box-shadow: inset 0 0 10px black;
}
