body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img {
  position: absolute;
}

img:first-of-type:hover {
}
img:nth-last-of-type(2):hover {
  transform: translateX(50px) translateY(50px);
}
